body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(34,85,88,1) 0%, rgba(34,85,88,1) 27%, rgba(148,211,203,1) 100%);
    color: rgb(226, 226, 226);
    margin: 0;
    padding: 0;
    font-family: 'Special Elite', cursive;
}

h1 {
    text-decoration: underline rgb(226, 226, 226);
}

.sidebarphoto {
    display: flex;
    gap: 20px;
}

.login {
    border: 1px solid white;
    border-radius: 15px;
    margin: 30px;
    padding-right: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 30px black;
}

.inputs {
    padding-top: 80px;
    padding-right: 10px;
}

.bars
{
    margin-bottom: 3px;
}


.button-51 {
  background-color: transparent;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Special Elite";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  margin-top: 30px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-51:hover,
.button-51:active {
  outline: 0;
}

.button-51:hover {
  background-color: transparent;
  cursor: pointer;
}

.button-51:before {
  background-color: rgb(173, 202, 182);
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.button-51:hover:before {
  background-color: rgb(109, 160, 124);
}

@media (min-width: 768px) {
  .button-51 {
    padding: 16px 32px;
  }
}